:root {
  --background-yellow: #f4e041;
  --background-yellow-hover: #ffe302;
  --background-grey: #b4b4b4;
  --background-grey-light: #f8f8f8;
  --background-blue: #00bdd3;
  --border-grey: #d0cfcf;

  --text-white-semi-transparent: rgba(255, 255, 255, 0.87);
  --text-black-semi-transparent: rgba(0, 0, 0, 0.87);
  --color-white: #ffffff;
  --text-grey: #7e7e7e;
  --error-red: #cb3d40;
}
