.intro {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url('../../assets/images/intro-background-360.jpg');
  background-size: cover;
  padding: 40px 16px 71px 16px;
  max-width: 1170px;
  margin: auto;
}

.introText {
  text-align: center;
  padding: 21px 0px 32px 0px;
  color: var(--color-white);
}

.introContent {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 380px);
}

@media screen and (min-width: 768px) {
  .intro {
    background-image: url('../../assets/images/intro-background-768.jpg');
    padding: 89px 0 88px 0;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    background-image: url('../../assets/images/intro-background-1024.jpg');
    padding: 164px 0 163px 0;
  }
}

@media screen and (min-width: 1170px) {
  .intro {
    background-image: url('../../assets/images/intro-background-2560.jpg');
  }
}
